* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  min-width: 200px;
}

/* @media screen and (max-width: 800px) {
  html {
    font-size: 30%;
  }
} */

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #dedede;
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
}
